.portada {
    background: var(--background_gradient);
    margin-left: 10px;
    border-radius: 200px 0 0 200px;
    height: 213px;
    transition: .3s ease background;
}

/* Estilos del marcador de la fase */
.portada__etapa {
    position: absolute;
    top: 15px;
    right: 20px;
    display: flex;
    gap: 6px;
    z-index: 50;
}
.portada__etapa p {
    color: var(--color_oscuro);
}
.portada__etapa p:first-of-type {
    font-weight: 600;
    font-size: 18px;
}
.portada__etapa p:last-of-type {
    font-weight: 400;
    font-size: 10px;
    margin-top: 4.5px;
}
.portada__etapa span {
    display: block;
    width: 1px;
    background-color: var(--color_oscuro);
    margin-top: 3px;
    height: 26px;
}
/* Fin estilos del marcador de la fase */

.portada__imagenes {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* Estilos logo */
.portada__imagenes--logo {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.portada__imagenes--logo img {
    width: 100px;
    height: 36px;
    object-fit: contain;
}
/* Fin estilos logo */

/* Estilos persona portada */
.portada__imagenes--persona {
    position: relative;
    display: flex;
    justify-content: end;
    padding-top: 30px;
    padding-right: 26px;
}
.portada__imagenes__container {
    width: 161px;
    height: 183px;
    display: flex;
    justify-content: center;
}
.portada__imagenes__container--persona {
    object-fit: cover;
    object-position: top;
    z-index: 20;
}
.portada__imagenes__container--fondo {
    width: 100%;
    position: absolute;
    top: 13px;
    right: 0;
    z-index: 10;
}
/* Fin estilos persona portada */

@media (min-width: 600px) {
    .portada { height: 253px; }
    .portada__imagenes--logo img {
        width: 150px;
        height: 86px;
    }
    .portada__imagenes__container {
        height: 223px;
        width: 201px;
    }
}
@media (min-width: 850px) {
    .portada { height: 283px; }
    .portada__imagenes--logo img {
        width: 180px;
        height: 126px;
    }
    .portada__imagenes__container {
        height: 253px;
        width: 231px;
    }
}
@media (min-width: 1150px) {
    .portada { 
        grid-area: segunda;
        width: 100%;
        height: 100%;
        margin-left: auto;
    }
    .portada__etapa {
        top: 75px;
        right: 40px;
    }
    .portada__imagenes {
        display: flex;
        justify-content: center;
        align-items: end;
    }
    .portada__imagenes--logo {
        display: none;
    }
    .portada__imagenes--persona {
        display: block;
    }
    .portada__imagenes__container {
        display: flex;
        align-items: end;
        margin-top: auto;
        width: 457px;
        height: 586px;
        transform: translateX(40px);
    }
    .portada-persona_fondo {
        top: 0;
    }
    
}