.contenido {
    margin: 54px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    align-items: end;
    width: 305px;
}
.contenido-logo {
    display: none;
    width: 113px;
    margin: 54px 0;
}
.secciones_contenedor {
    scroll-behavior: smooth;
    width: 305px;
    margin: 0 auto;
    display: flex;
    gap: 150px;
}
.seccion {
    min-width: 305px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
}
.seccion > p {
    font-size: 19px;
}
@media (min-width: 600px) {
    .contenido {
        width: 450px;
        margin: 54px auto;
    }
    .seccion {
        min-width: 400px;
    }
    .secciones_contenedor {
        width: 400px;
    }
}
@media (min-width: 1150px) {
    .contenido-logo {
        display: block;
    }
}

/* Estos estilos afectan a las secciones SecCargo, SecCRM y SecIndustria */
.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
}
.contenedor-tarjetas > button:nth-last-child(1):nth-child(odd) {
    width: 100%;
}
@media (min-width: 600px) {
    .contenedor-tarjetas {
        justify-content: start;
    }
    .contenedor-tarjetas > button:nth-last-child(1):nth-child(odd) {
        width: 125px;
    }
}
/* --------------------------------------------------------------------- */