:root {
  --background_gradient: linear-gradient(283.73deg, #231331 -29.4%, #00CCBC 50.02%);
  --color_oscuro: #231331;
  --color_oscuro-opacidad: #23133180;
  --color_claro: #00CCBC;
  --color_blanco: #FFFFFF;
  --transicion: .3s ease all;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
h1, h2, h3, h4 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}
body {
  width: 100%;
  font-family: "K2D", serif;
}

@media (min-width: 1150px) {
  #root {
    height: 100%;
  }
  body {
    height: 100vh;
  }
}